* {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5% 10%;
}

header {
    margin-bottom: 3em;
}

section {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    margin-bottom: 3em;
}

/* ---------------------Colors ------------------------------------------*/

.colors-wrapper {
    display: flex;
    width: 100%;
    height: calc(1.5em * 5);
    align-self: center;
    margin-bottom: 1em;
}

.color {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    font-family: work-sans, sans-serif;
    font-weight: 200;
}

#zero.color {
    background-color: grey;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

#first.color {
    background-color: #cbd3da;
}

#second.color {
    background-color: #dae0e5;
}

#third.color {
    background-color: #e9ecef;
}

#fourth.color {
    background-color: #f8f9fa;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/*--------------------- Fonts -------------------------------------*/
.fonts-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#first.font,
#second.font,
#third.font {
    margin-bottom: 1em;
}

/* ---------------Nunito----------------- */
.font-label.nunito,
.italic.nunito  {
    margin-bottom: 1rem;
}

.font-label.nunito, 
.regular.nunito,
.bold.nunito,
.italic.nunito {
    font-family: nunito, sans-serif;
}

.bold.nunito {
 font-weight: 700;
}

.italic.nunito {
 font-style: italic;
}

/* ---------------Work Sans----------------- */
.font-label.work-sans,
.italic.work-sans  {
    margin-bottom: 1rem;
}

.font-label.work-sans, 
.regular.work-sans,
.bold.work-sans,
.italic.work-sans {
    font-family: work-sans, sans-serif;
    font-weight: 200;
}

.bold.work-sans {
 font-weight: 700;
}

.italic.work-sans {
 font-style: italic;
}

/* ---------------Secular One----------------- */
.font-label.secular-one,
.italic.secular-one  {
    margin-bottom: 1rem;
}

.font-label.secular-one, 
.regular.secular-one,
.bold.secular-one,
.italic.secular-one {
    font-family: "Secular One", sans-serif;
}

/* .bold.secular-one {
 font-weight: 900;
} */

.italic.secular-one {
 font-style: italic;
}

/* Styles------------------------------------------- */
.styles-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.ul-style {
    margin: 1em;
}