/* GENERAL STYLES 
COLORS
FONTS:
    NUNITO
    WORK-SANS
    SECULAR-ONE
STYLES */

/* ----------------------------------------GENERAL STYLES ------------------------------------------*/

* {
    margin: 0;
    padding: 0;
}

h1,
h2 {
    Font-family: Nunito, sans-serif;
}

h1 {
    Font-weight: 700;
    Font-size: calc(1.375rem + 1.5vw);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5% 10%;
}

header {
    margin-bottom: 3rem;
}

section {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    margin-bottom: 3rem;
}

/* ----------------------------------------Colors ------------------------------------------*/

.colors-wrapper {
    display: flex;
    width: 100%;
    height: calc(1.5rem * 5);
    align-self: center;
    margin-bottom: 1rem;
}

.color {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    font-family: work-sans, sans-serif;
    font-weight: 200;
    font-size: 0.9rem;
}

#zero.color {
    background-color: #797e82;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

#first.color {
    background-color: #cbd3da;
}

#second.color {
    background-color: #dae0e5;
}

#third.color {
    background-color: #e9ecef;
}

#fourth.color {
    background-color: #f8f9fa;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* ----------------------------------------Fonts------------------------------------------*/

.fonts-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#first.font,
#second.font,
#third.font {
    margin-bottom: 1rem;
}

/* ----------------------------------------Nunito------------------------------------------*/

.font-label.nunito,
.italic.nunito {
    margin-bottom: 1rem;
}

.font-label.nunito,
.regular.nunito,
.bold.nunito,
.italic.nunito {
    font-family: nunito, sans-serif;
}

.regular.nunito,
.bold.nunito,
.italic.nunito {
    font-size: 0.9rem;
}

.bold.nunito {
    font-weight: 700;
}

.italic.nunito {
    font-style: italic;
}

/* ----------------------------------------Work Sans------------------------------------------*/

.font-label.work-sans,
.italic.work-sans {
    margin-bottom: 1rem;
}

.font-label.work-sans,
.regular.work-sans,
.bold.work-sans,
.italic.work-sans {
    font-family: work-sans, sans-serif;
    font-weight: 200;
}

.regular.work-sans,
.bold.work-sans,
.italic.work-sans {
    font-size: 0.9rem;
}

.bold.work-sans {
    font-weight: 700;
}

.italic.work-sans {
    font-style: italic;
}

/* ----------------------------------------Secular One------------------------------------------*/

.font-label.secular-one,
.italic.secular-one {
    margin-bottom: 1rem;
}

.font-label.secular-one,
.regular.secular-one,
.bold.secular-one,
.italic.secular-one {
    font-family: "Secular One", sans-serif;
}

.regular.secular-one,
.bold.secular-one,
.italic.secular-one {
    font-size: 0.9rem;
}

.italic.secular-one {
    font-style: italic;
}

/* ----------------------------------------Styles------------------------------------------*/

.styles-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.h6-style {
    Font-weight: 700 (bold);
    Font-size: 1rem;
    Font-family: Nunito, sans-serif;
    Color: #797e82;
}

.p-style {
    font-family: Nunito, sans-serif;
    font-weight: 200;
    font-size: 0.9rem;
    color: #797e82;
}

.ul-style {
    margin: 1em;
    font-family: Nunito, sans-serif;
    font-weight: 200;
    font-size: 0.9rem;
}