* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar>.container-fluid {
    justify-content: center !important;
}

a {
    color: gray !important;
}

a:hover {
    color: black !important;
}

main {
    height: 80vh;
    background-color: #fff;
    margin-bottom: 70px;
}

img {
    height: 30vh;
    border-radius: 50%;

}

img:hover {
    /* border: 2px dotted black; */
    transform: scale(1.1);
    transition: all .2s;
}

.row_in_main {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 5vh 0;
}

h6 {
    color: #737373;
}

.sub-header {
    display: flex;
    justify-content: center;
    margin: 0 3vh;
}

.info {
    text-align: center;
}

footer {
    text-align: center;
    bottom: 0;
    position: fixed;
    width: 100%
}

p {
    color: gray;
    font-size: 0.8rem;
    margin: 5px;
}

/* Table codecademy page */
table {
    vertical-align: top;
    width: 60vw;
    margin-bottom: 20vh;
}

@media screen and (max-width: 900px) {
    table {
        width: 90vw;
    }
}

table.codecademy_projects tr td p {
    font-size: 1rem;
    text-align: left;
    vertical-align: top;
}

table.codecademy_projects tr td a {
    text-decoration: none;
}

table.codecademy_projects tr td a:hover {
    cursor: pointer;
}