* {
    font-family: Helvitica;
}

/*return icon-------------*/
.return-box {
    display: flex;
    justify-content: flex-start;
    height: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

svg.return:hover {
    stroke: black;
}

/* ----------------------- */

.page_header {
    background-image: url('https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg');
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    margin: 0 0 67px 0;
}

header {
    font-size: 32px;
    font-weight: bold;
    color: white;
    margin: 26.56px 0;
    padding-left: 10px;
}

span {
    font-weight: bold;
    color: blue;
}

.copies {
    background-color: mediumspringgreen;
}

.fine_art {
    background-color: lightcoral;
}

.other_art {
    background-color: skyblue;
}