* {
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}

.info {
    margin: 10px;
    /* width: 100%; */
    text-align: center;
    ;
}

/*---------- Navbar---------- */

.navbar-container {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 69px;
    border-bottom: 1px solid seashell;
    background: black;
    z-index: 1;
}

.logo {
    align-self: center;
    margin-left: 10px;
    height: 50px;
}

.navbar-brands-wrapper {
    display: flex;
    margin-right: 10px;
}

.navbar-brand {
    color: seashell;
}

.navbar-brand:not(:last-child) {
    margin-right: 1rem;
}

/*---------- Hero Section---------- */

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
    width: 1200px;
    margin: 0 auto;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg?_gl=1*hzs2x6*_ga*MjA5NTQ4MDUxMS4xNjM2OTk1MzUy*_ga_3LRZM6TM9L*MTY1Mjg4Nzk4Mi4yMzkuMS4xNjUyODg4MDQ2LjU4");
}

.hero-header,
.location-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1200px;
    background-color: black;
}



/*---------- Tea of the Month section---------- */

.tea-of-the-month {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    width: 1200px;
}

.tea-of-the-month.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
}

.tea-of-the-month.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
}

.product {
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    margin-bottom: 2rem;
}

/*---------- Location ---------- */

.location {
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg?_gl=1*1h19jha*_ga*MjA5NTQ4MDUxMS4xNjM2OTk1MzUy*_ga_3LRZM6TM9L*MTY1MzU2ODYyNy4yNTIuMS4xNjUzNTY4NjgxLjY.");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1200px;
    height: 500px;
    margin: 2rem auto;
}

 .location-header {
    background-color: transparent;
} 

.location.wrapper {
    
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center;
    height: 250px;
}

.address {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin-left: 40px;
    background-color: black;
    padding-top: 15px;
    padding-bottom: 15px;
}

.address-line {
    margin: 15px;
}